h1{
    color: black;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align-last: center;
}
h2{
    color: black;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align-last: center;


}
h3{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align-last: center;
}
h4{
    font-size: 20px;
}
h5{
    text-align-last: center;
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
h6{
    color: black;
    text-align-last: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}